RewriteEngine On

# If a resource exists, serve it

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Otherwise, redirect to index file

RewriteRule ^.*$ index.php [NC,L]